#header {
    background-color: cornflowerblue;
    background-image: url("../picture/header-back.jpg");
    background-repeat: no-repeat;
    background-size: 1000px 200px;
    height: 200px;
    width: 1000px;
    margin: auto auto auto auto;
}

#header h1 {
    float:left;
    text-align: center;
    margin-left: 100px;
}

#header ul li {
    margin-top: 80px;
    list-style-type:none;
    float: right;

    padding: 0;
    border:1px solid cornflowerblue;
}
#header ul li:nth-last-child(3n){
    margin-right: 20px;
}

#header a {
    text-decoration: none;
    display: block;
    width: 120px;
    background-color: gainsboro;
    text-align: center;
}

#header a:visited{
    color: darkgray;
}

#header a:hover{
    color: goldenrod;
    text-decoration: underline;
}
