
#content {
    width: 1000px;
    height: 100%;
    /*background-image: url("../picture/background.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;*/
    margin-right: 20px;
    min-width: 1000px;
    display: flex;
}


body {
    width:1200px;
    margin:auto;

}

#mainpart {
    width:1000px;
    margin: auto;
}

#left{
    width: 300px;
    height: 1000px;
    overflow: hidden;
    margin:auto;
    border: 1px solid blue;
}

.datepicker {
    width: 99%;
    margin-top: 20px;
    overflow: hidden;
    clear: both;
}

#right{
    margin:auto;
    width: 700px;
    height: 1000px;
    overflow: hidden;
    border: 1px solid blue;
}

#footer p{
    font-size: small;
}
